/****************************************************\
**
**    This code can be used freely.
**    Some part have been copied from the internet
**    Here is a list of the different sources :
**      - http://jsfiddle.net/josedvq/38Tnx/
**      - 
**
**    If the code used belongs to you,
**    send me an email at myname.myinitials@gmail.com
**
\****************************************************/

html{
    font-size: 150%;
    position:relative;
    min-height: 100%;  
}
body{
    color:#353535;
    margin-bottom: 221px;
}
h1{
    font-family: 'Playfair Display', serif, 'Helvetica Neue';
    font-size: 40px;
    margin-top: 30px;
}
h1.main {
    font-size: 50px;
    font-weight: bold;
}
nav{
    padding-top: 60px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
nav > a {
    font-size: 1.8em;
    padding-right: 5px;
    padding-left: 5px;
}
nav > a:hover {
    font-size: 1.8em;
    padding-right: 5px;
    padding-left: 5px;
}
a {
    color: #353535;
    font-family: 'Playfair Display', 'Helvetica Neue';
}
a:hover{
    color: #B90000;
}
.page-header{
    padding-bottom: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom: 3px solid #B90000;
}
.article_list_container{
    padding-bottom: 40px;
}
.row > .article_list{
    border-bottom: 2px dotted #777;
}
.article_list {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.article_list:hover {
    background-color: #FFF5F5;
    color: #B90000;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.article_content{
    margin-top: 20px;
    padding-bottom: 50px;
}
.article_content a{
    color: #B90000;
    font-weight: bold;
}
.article_content p img {
    width: 60%;
    margin: auto;
}
/*
    Category
*/
.square-box{
    position: relative;
    width: 80%;
    overflow: hidden;
    border: 1px solid #353535;
    margin: 10px auto;
}
.square-box:hover{
    border: 1px solid #B90000;
    background-color: #B90000;
}
.square-box:before{
    content: "";
    display: block;
    padding-top: 100%;
}
.square-content{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.square-content div {
   display: table;
   width: 100%;
   height: 100%;
}
.square-content span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #353535;
    /*color: white;*/
}
.square-box:hover .square-content span {
    color: white;
}
.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 221px;
}
footer{
    margin-top: 50px;
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #353535;
    color : #7E7E7E;
}
footer a{
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    color : #7E7E7E;
}
footer a:hover{
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    color:white;
}
/*
    Gallery
*/
#msry-container {
    padding-top: 20px;
    padding-bottom: 20px;
}
figure, .img_gallery.col-sm-3, .img_gallery.col-sm-4, .img_gallery.col-sm-6, .img_gallery.col-xs-6, .img_gallery.col-xs-12, .modal-body .col-sm-12 {
    padding: 0;
}
.img_gallery {
    transition: opacity 0.3s;
}
.modal-header {
    border: 0;
    padding-bottom: 0;
}
#img_modal_content > img {
    margin: auto;
}
